@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container {
    width: 700px;
    margin: 3em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
  }
  
h1 {
    text-align: center;
}

.date {
    font-family: Source Sans Pro;
}

ul > li {
    list-style-type: none;
    display: inline-block;
    color: #777;
    font-family: Source Sans Pro;
}